sudo: false
dist: trusty

branches:
  only:
    - master

services:
  - docker

env:
  global:
    - TEAM_NAME: krypton
    - AWS_DEFAULT_REGION: 'us-east-1'

install:
  - docker-compose build

script:
  - docker-compose up
